

  <h2 style="text-align:center">PRODUCTS</h2>
<!-- ---phone--- -->
<div class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykmrTM_ixeSByCQpaQq0toQrnFMX1Onlry9t7lA-yUQAItfHIP2WshuFN3DXmVKqeo1oATds&usqp=CAc"alt="Denim Jeans" style="width:100%">
  <h1>Iphone 11</h1>
  <p class="price">Rs:50,000</p>
  <p>Brand : Apple<br>
     Colour : Black<br>
     Memory Storage Capacity : 64 GB<br>
     Operating System : IOS 14</p>
  <p><button>Add to Cart</button></p>
</div>

<!-- ---tv--- -->
<div class="card">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81bI%2B7BWWeL._SL1500_.jpg"alt="Denim Jeans" style="width:100%">
    <h1>LG 164 cm TV</h1>
    <p class="price">Rs:80,000</p>
    <p>Resolution: 4K Ultra HD (3840x2160) <br> Refresh Rate: 50 hertz<br>
        Connectivity: 3 HDMI ports <br>
        Sound : 20 Watts Output</p>
    <p><button>Add to Cart</button></p>
  </div>


  
<div class="card">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51XJpBuNEUL._SL1080_.jpg"alt="Denim Jeans" style="width:100%">
    <h1>Dell Inspiron </h1>
    <p class="price">Rs:52,000</p>
    <p>Processor:11th Gen Intel Core i3<br>
        Memory & Storage:4GB RAM | 256GB <br>
        Display:14.0-inch FHD (1920 x 1080) <br>
        Graphics:Intel UHD Graphics</p>
    <p><button>Add to Cart</button></p>
  </div>
  



