
 
 <form  class="form" name="loginForm" method="post" align="center"  >
    <h1 align="center">Login Form</h1>

    <div class="input">
        <label>Username : </label>
        <input type="text" name="username" [(ngModel)]="username">
    </div>
    <br>
    <div class="input">
        <label>Password : </label>
        <input type="password" name="password" [(ngModel)]="password">
    </div>
    <br>
    <div class="input">
        
        <input type="submit" value="Signup" (click)="Signup()">
    </div>

    